[submodule "lib/Simulator-v2"]
	path = lib/Simulator-v2
	url = https://github.com/TTK4145/Simulator-v2.git
[submodule "lib/driver-go"]
	path = lib/driver-go
	url = https://github.com/TTK4145/driver-go.git
